@import "colors.css";
@import "fonts.css";

* {
	font-size: inherit;
	font-weight: 900;
	margin:0;
	padding:0;
}

#waybar {
	background-color: @background0;
	color: @foreground0;
	border: 2px solid @surface0;
	font-size: 14px;
	border-radius: 2px;
}

#waybar > box {
  margin: 7px 12px;
}

.warning {
	color: @primary;
}

.critical {
	color: @error;
}

.normal {
	color: @foreground0
}

#custom-idle,
#custom-power-profile {
	color: @primary;
}

#workspaces {
	background: @surface0;
	padding-left: 6px;
}

#workspaces button {
	color: @foreground0;
	padding-right: 4px;
}

#workspaces button.active {
	color: @primary;
}

#workspaces button:hover {
	color: @primary;
	box-shadow: none;
}

#window {
	background: none;
}

#custom-idle,
#custom-power-profile,
#custom-system,
#custom-disk,
#clock.time,
#clock.cal,
#network,
#bluetooth,
#pulseaudio,
#pulseaudio#source,
#pulseaudio-slider,
#battery,
#backlight,
#power-profiles-daemon,
#language,
#submap,
#tray {
	background: @surface0;
	padding-left: 4px;
	padding-right: 4px;
}

#custom-notifications {
	background: @surface0;
	padding-left: 4px;
	padding-right: 14px;
}
#custom-notifications.notification,
#custom-notifications.dnd-notification,
#custom-notifications.inhibited-notification,
#custom-notifications.dnd-inhibited-notification {
	color: @primary;
}

#submap {
	font-size: 13px;
	color: @primary;
}

#window  {
	font-size: 13px;
	font-family: Hack Nerd Font Mono;
}

#clock.time,
#clock.cal,
#language  {
	font-size: 12px;
	font-family: Hack Nerd Font Mono;
}

#clock.cal,
#clock.time {
	min-width: 43px;
}

#custom-workspaces-left,
#custom-workspaces-right,
#custom-calendar-left,
#custom-calendar-right,
#custom-time-left,
#custom-time-right,
#custom-notifications-left,
#custom-connectivity-left,
#custom-connectivity-right,
#custom-system-left,
#custom-system-right,
#custom-keyboard-left,
#custom-keyboard-right  {
	color: @surface0;
	background: @background0;
	font-size: 20px;
}


tooltip {
	background-color: @background1;
	color: @text;
	border: 1px solid @surface0;
	font-size: 13px;
	border-radius: 2px;
	font-family: Hack Nerd Font Mono;
}

