@import url("file://~/.config/walker/themes/aether/colors.css");

* {
	all: unset;
}

selection {
	background: alpha(#@overlay@, 0.3);
}

.normal-icons {	-gtk-icon-size: 16px; }
.large-icons { -gtk-icon-size: 32px; }

scrollbar {
	opacity: 0;
}




.fullscreen {
	background: alpha(#@background2@, 0.4);
}

.box-wrapper {
	background: #@background2@;
	color: @foreground0@;
  	font-size: 14px;
	padding: 20px;
	border-radius: 4px;
	border: 1px solid #@primary@;
}


.search-container {
	border-radius: 4px;
}

.input {
	caret-color: #@foreground0@;
	background: #@background1@;
	padding: 10px;
}

.input placeholder {
	color: #@foreground1@;
}
.input:focus,
.input:active {
}

.content-container {
	background: #@background2@;
	font-weight: bold;
}

.list {
	color: #@foreground0@;
}

child {
}
child:hover .item-box,
child:selected .item-box {
  /* background: alpha(@primary, 1); */
  color: #@primary@;
}

.item-box {
  border-radius: 4px;
  padding: 10px;
}

.item-quick-activation {
  margin-left: 10px;
  background: #@background1@;
  border-radius: 4px;
  padding: 10px;
}



.item-text-box {
}

.item-text {
}

.item-subtext {
  font-size: 12px;
  opacity: 0.7;
}

.item-image {
  margin-right: 10px;
}



.keybind {
  font-size: 12px;
  opacity: 0.5;
  color: #@foreground1@;
}

.preview {
  border: 1px solid alpha(#@primary@, 0.4);
  padding: 10px;
  border-radius: 4px;
  color: @text;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.preview-box {
  color: #@foreground0@;
}

.calc .item-text {
  font-size: 24px;
}

.calc .item-subtext {
}

.symbols .item-image {
  font-size: 24px;
}


