@import "colors.css";
@import "font.css";

* {
  all: unset;
  font-size: 14px;
  transition: 200ms;
}



.notification-content .summary {
  color: @foreground0;
}

.notification-content .time {
  color: @foreground1;
}

.notification-content .body {
  color: @foreground0;
}




.floating-notifications.background .notification-row .notification-background {

  background-color: @background1;
  margin: 10px;
  color: @foreground0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  border-radius: 2px;
  border: 2px solid @primary;
  padding: 14px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border-color: @error;
}



.control-center {
  border-radius: 2px;
  border: 1px solid @primary;
  background-color: @background1;
  margin: 10px;
  color: @text;
  padding: 14px;
}

.control-center .widget-title > label {
  color: @foreground0;
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 2px;
  border: 1px solid @surface1;
  background-color: @surface0;
  color: @foreground0;
  padding: 4px;
}

.control-center .widget-title button:hover,
.control-center .widget-title button:focus {
  background-color: @surface1;
  border: 1px solid @surface2;
  color: @foreground0;
}

.control-center .widget-title button:active {
  background-color: @surface2;
  border: 1px solid @surface2;
  color: @foreground0;
}

.control-center .notification-row .notification-background {
  color: @foreground0;
  background-color: @background0;
  border-radius: 2px;
  border: 1px solid @surface0;
  margin-top: 14px;
}

.control-center .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 2px;
}

.control-center .notification-row .notification-background .notification.critical {
  border: 1px solid @error;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.control-center .notification-group:hover .notification-row .notification-background,
.control-center .notification-group:focus .notification-row .notification-background,
.control-center .notification-row:hover .notification-background
{
  border-color: @surface1;
  background-color: @surface0;
}

.control-center .notification-row .notification-background:active {
  border-color: @surface1;
  background-color: @surface1;
}

.notification.critical progress {
  background-color: @error;
}

.notification.low progress,
.notification.normal progress {
  background-color: @primary;
}




.widget-dnd {
  margin-top: 7px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: @surface0;
  border: 1px solid @surface1;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: @primary;
}

.widget-dnd > switch slider {
  background: @surface1;
  border-radius: 8px;
  border: 1px solid @surface2;
}



.widget-label > label {
  color: @foreground0;
  font-size: 2rem;
}



.image {
  padding-right: 1rem;
  min-height: 50px;
  min-width: 50px;
}



.close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 2px;
  background-color: @primary;
  color: @background0;
  opacity: 0.8;
}

.close-button:hover {
  opacity: 1;
}

.close-button:active {
  opacity: 1;
}



.notification-action {
  color: @foreground0;
  margin: 7px;
  border-radius: 2px;
  border: 1px solid @surface1;
  background-color: @surface0;
}

.notification-action:hover,
.notification-action:focus {
  border: 1px solid @surface2;
  background-color: @surface1;
}

.notification-action:active {
  border: 1px solid @surface2;
  background-color: @surface2;
}
